@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-bg: #020617;          /* fundo principal (slate-950) */
  --color-surface: #020617;     /* cards / sections */
  --color-border: #1e293b;      /* bordas sutis */

  --color-text: #e5e7eb;        /* texto principal */
  --color-muted: #9ca3af;       /* texto secundário */

  --color-primary: #6366f1;     /* indigo-500 */
  --color-primary-hover: #4f46e5;
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Inter, system-ui, sans-serif;
}
